.kocf-col-wrapper {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

label.kocf-labels {
  font-size: 1em;
  line-height: 1.8;
}
input[type="text"].kocf-input-box, input[type="email"].kocf-input-box, select.kocf-select-box {
  background: #fff;
  border: solid 1px #ccc;
  box-sizing: border-box;
  outline: none;
  padding: 0.36rem 0.66rem;
  outline-offset: 0;
  border-radius: 0;
  font-size: 1em;
  line-height: 1.8;
}
input[type="text"].kocf-input-box, input[type="email"].kocf-input-box {
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
}

.kocf-checkbox-label-wrapper, .kocf-radio-label-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  line-height: 1.8;
}
.kocf-checkbox, .kocf-radio {
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 0 !important;
}

.kocf-buttons {
  width: 200px
}

.kocf-required {
  color: red;
}

.kocf-note {
  margin: 0;
  font-size: 0.8em;
  line-height: 1;
}

#koc-sp-form-submit {
  font-size: 1em;
  line-height: 1.8;
}
.kocf-error-span {
  display: none;
}
.kocf-show-error {
  display: flex;
  color: red;
  font-size: 0.8em;
  line-height: 1;
  margin-top: 5px;
}
.kocf-show-error-wrapper {
  display: flex;
}

.kocf-show-error-wrapper > span {
  margin-bottom: 10px;
}

#kocf-sp-success, #kocf-rs-success {
  display: none;
}

#kocf-sp-success h2, #kocf-rs-success h2 {
  color: green;
}
